<?xml version='1.0' encoding='utf-8'?>
<widget id="com.danbiedu.wink.parent.ios" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <hook src="hooks/build.sh" type="before_prepare" />
    <name>윙크 학부모 아이폰</name>
    <description>
        아이폰 용 윙크 학부모
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        DanbiEduCorp.
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <hook src="hooks/iosrtc-swift-support.js" type="after_platform_add" />
        <config-file parent="NSCameraUsageDescription" target="*-Info.plist">
            <string>Blink uses your camera to make video calls.</string>
        </config-file>
        <config-file parent="NSContactsUsageDescription" target="*-Info.plist">
            <string>Blink needs access to your contacts in order to be able to call them.</string>
        </config-file>
        <config-file parent="NSMicrophoneUsageDescription" target="*-Info.plist">
            <string>Blink uses your microphone to make calls.</string>
        </config-file>
    </platform>
    <plugin name="cordova-plugin-iosrtc" spec="~4.0.2" />
    <plugin name="cordova-plugin-vibration" spec="~3.0.1" />
    <plugin name="cordova-plugin-app-version" spec="~0.1.9" />
    <plugin name="cordova-plugin-android-permissions" spec="~1.0.0" />
    <plugin name="cordova-plugin-ios-camera-permissions" spec="~1.2.0">
        <variable name="CAMERA_USAGE_DESCRIPTION" value="This app needs camera access" />
        <variable name="MICROPHONE_USAGE_DESCRIPTION" value="This app needs microphone access" />
        <variable name="PHOTOLIBRARY_ADD_USAGE_DESCRIPTION" value="This app needs write-access to photo library" />
        <variable name="PHOTOLIBRARY_USAGE_DESCRIPTION" value="This app needs read/write-access photo library access" />
    </plugin>
    <plugin name="onesignal-cordova-plugin" spec="^2.3.3" />
</widget>
