// 로그인
.login-container{

  .login-wrapper{
    height:100vh;

    .logo{
      width:150px;
    }

    .am-flexbox{
      .am-flexbox-item{
        margin-left:0;
      }
    }
  }
}

.am-checkbox-inner {
  border-radius: 15% !important;
}

.login {
  &-top-contents {
    height: 100%;
    width: 100vw;
    background-color: #f1f1f1;
    * {
      text-align: center;
    }
    &-text {
      font-size: 15px;
    }
    &-notice {
      font-size: 13.5px;
      color: #DE557F;
    }
  }
}
