

.main {
  &-img {
    margin: 20px auto!important;
    padding: 20px;
    width: 90%;
    height: 200px;
    border: 1px solid black;
  }
  &-student {
    width: 100%;
    padding: 10px;
  }
  &-help{
    padding: 30px;
    width: 100%;
    text-align: center;
  }
}

.my-video{
  position: absolute;
  width: 20% !important;
  top: 100px;
}

#divVidPeer {
  video {
    width: 100vw;
    height: 100%;
  }
}
